<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/css/alert.css">
    <title>Alert</title>
</head>
<body>
      
    <div class="alert-container pb2">
        <button class="alert primary-alert">This is a primary alert !</button>
        <button class="alert secondary-alert">This is a secondary alert !</button>
        <button class="alert white-alert">This is a white alert !</button>
        <button class="alert danger-alert">This is a danger alert !</button>
        <button class="alert warning-alert">This is a warning alert !</button>
        <button class="alert info-alert">This is a simple info alert !</button>
    </div>
</body>
</html>