<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/components/css/avatar.css">
    <title>Avatar</title>
</head>

<body>

    <div class="avatar-container">
        <img class="avatar avatar-xl" src="/assets/assets/avatar.jpg">
        <img class="avatar avatar-l" src="/assets/assets/avatar.jpg">
        <img class="avatar avatar-m" src="/assets/assets/avatar.jpg">
        <img class="avatar avatar-s" src="/assets/assets/avatar.jpg">
    </div>

  

    <div class="avatar-container">
        <img class="avatar sq-avatar-xl" src="/assets/assets/avatar.jpg">
        <img class="avatar sq-avatar-l" src="/assets/assets/avatar.jpg">
        <img class="avatar sq-avatar-m" src="/assets/assets/avatar.jpg">
        <img class="avatar sq-avatar-s" src="/assets/assets/avatar.jpg">
    </div>

  

    <div class="avatar-container">
        <button class="avatar avatar-l">HU</button>
        <button class="avatar avatar-m">KI</button>
        <button class="avatar avatar-s">JS</button>
    </div>



    <div class="avatar-container">
        <button class="avatar sq-avatar-l">HU</button>
        <button class="avatar sq-avatar-m">KI</button>
        <button class="avatar sq-avatar-s">JS</button>
    </div>

  
   
      
</body>

</html>